* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  background-color: #f5f5f5;
}

.body {
  font-family: "jost";
}

.container-fluid a {
  color: #f5f5f5;
  font-size: 20px;
}

.container-fluid button {
  background-color: #f5f5f5;
  color: #f5f5f5;
}

.container-fluid img {
  max-width: 40px;
  max-height: 40px;
}
.container-fluid img:hover {
  transform: scale(1.2);
  transition: all 400ms ease;
}

.header {
  background-image: url(../img/index-back.avif);
  background-size: cover;
  height: 700px;
}

.header .navbar {
  color: transparent;
}

.nombre-index h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
  color: #f5f5f5;
  font-size: 25px;
}

.titulo-index h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  text-align: center;
  text-wrap: wrap;
  color: red;
}

.titulo-index h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  text-align: center;
  text-wrap: wrap;
  color: #f5f5f5;
}

.slider {
  width: 75vw;
  height: auto;
  margin: auto;
  overflow: hidden;
}

.slider .slide-track {
  display: flex;
  animation: scroll 40s linear infinite;
  -webkit-animation: scroll 40s linear infinite;
  width: 2800px;
}

.slider .slide {
  width: 200px;
}

.slider .slide img {
  width: 100%;
}

@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-1400px);
    transform: translateX(-1400px);
  }
}
.razonesParaElegirnos h2 {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: black;
  font-size: 60px;
}

/* card-index */
.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 20px;
  gap: 20px;
}

.cardsInfoAuto {
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: 0;
  align-items: center;
  gap: 0;
  border-radius: 6px;
  overflow: hidden;
  background-color: #000;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}

.cardsInfoAuto h3 {
  text-align: center;
  font-size: 60px;
  color: #f5f5f5;
  margin-bottom: 40px;
  margin-top: 40px;
}

.cardsInfoAuto img {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.cardsInfoAuto iframe {
  width: 100%;
  height: 210px;
  object-fit: cover;
}

.cardsInfoAuto div {
  padding: 20px;
  background-color: #000;
}

.cardsInfoAuto .contenido-card {
  padding: 15px;
  text-align: center;
}

.cardsInfoAuto .contenido-card p {
  line-height: 1.5;
  color: #f5f5f5;
  font-size: 20px;
}

.cardsInfoAuto .contenido-card h3 {
  color: #f5f5f5;
  font-size: 50px;
  margin-bottom: 15px;
}

.cardsInfoAuto .contenido-card a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: red;
  border: 1px solid red;
  border-radius: 4px;
  transition: all 400ms ease;
}

.cardsInfoAuto .contenido-card a:hover {
  background-color: black;
  color: white;
}

.cardsInfoAuto:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

/*# sourceMappingURL=style.css.map */
